<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BF4823D1CA976E400CA6DBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BF482561CA976E400CA6DBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BF482611CA976E400CA6DBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
