<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StickBall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BC84FA21C9F95C700E45400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC84FBB1C9F95C700E45400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC84FC61C9F95C800E45400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
